@page
@model IndexModel
@{
    ViewData["Title"] = "Web API 1.0";
}

<div class="text-center">
    <h1 class="display-4">Web API 1.0 by Tim Gerstel</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>
